/*
 */

/dts-v1/;

#include "imx6qp-ravion.dtsi"

/ {
	model = "Radioavionica Corp. Ravion200 Board";
	compatible = "ravion,imx6qp-ravion200", "fsl,imx6qp";

	chosen {
		stdout-path = &uart1;
	};


	memory {
		reg = <0x10000000 0x80000000>;
	};
	
};

&uart1 {	status = "okay";	};
&sata {		status = "okay";	};